extends layout

block content
  div.row
    div.col.s12
      table
        thead
          tr
            th.col.s1.
              Date
            th.col.s5.
              Headline
            th.col.s5.
              Keywords
            th.col.s1.
              Logged
        tbody
          for column in columns
            tr
              td.col.s1= moment(column.date).format('YYYY.MM.DD')
              td.col.s5
                a(href='/column/' + column.datecode)= column.headline
              td.col.s5 
                - var keys = column.keywords;
                - for (var i=0; i<keys.length; i++) {
                -   if (i<keys.length-1) {
                      span= keys[i] + ', '
                -   } else {
                      span= keys[i]
                -   }
                - }
              td.col.s1= moment(column.logged).format('YYYY.MM.DD')
